
<ion-header>
  <ion-toolbar>
  <ion-title>Contact</ion-title>
  <ion-buttons slot="start">
  <ion-menu-button autoHide="false"></ion-menu-button>
  </ion-buttons>
  </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-text color="primary">
      <h1>My contact information</h1>
      <h2>Phone number</h2>
      <ion-text color="dark">358 404841798 </ion-text>
      <h2>Email Address</h2>
      <ion-text color="dark">Jarkko.hamalainen@outlook.com </ion-text>
      <h2>Github</h2>
      <ion-text color="dark">www.github.com/faltsu </ion-text>
    </ion-text>
  </ion-content>