<ion-app>
  <!--Jarkko Hämäläinen 1701558
  hamburger menu and bottom tabs logout calls for logout function-->
  <ion-menu contentId="main-content" side="start">
  <ion-header>
  <ion-toolbar>
  <ion-title>Menu</ion-title>
  </ion-toolbar>
  </ion-header>
  <ion-content>
  <ion-list>
  <ion-menu-toggle auto-hide="false" *ngFor="let page of pages">
  <ion-item [routerLink]="page.path" routerDirection="root" [class.active-menu]="activePath === page.path">
  {{page.name}}
  </ion-item>
  </ion-menu-toggle>
  </ion-list>
  </ion-content>
  </ion-menu>
  <ion-router-outlet id="main-content" main></ion-router-outlet>
  <ion-tabs>
    
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="logout()" (click)="logout()">
        <ion-icon name="triangle"></ion-icon>
        <ion-label>Logout</ion-label>
        
      </ion-tab-button>
  
      <ion-tab-button tab="home">
        <ion-icon name="ellipse"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="register">
        <ion-icon name="square"></ion-icon>
        <ion-label>Register</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  
  </ion-tabs>
  
  </ion-app>