<!--Jarkko Hämäläinen 1701558 
This page has forgot password form, but there is no backend at the moment :( -->
<ion-header>
  <ion-toolbar>
    <ion-title>forgot-password</ion-title>
    <ion-buttons slot="start">
    <ion-menu-button autoHide="false"></ion-menu-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" required></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block">Send</ion-button>
      </ion-col>
    </ion-row>

    <small>
      Please provide the email address that you used when you signed
      up for your account.
    </small>
  </form>
</ion-content>
