<ion-header>
  <ion-toolbar>
    <ion-title>Soft Skills</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<h1>Social</h1>
<p>Good teamwork skills, but able to work independently.
  Able to express opinions and expertise, while still able to compromise. Service spirited and friendly.
</p>
<h1>Developement</h1>
<p>Service design, Mobile dev with ionic, Programming dev with various languages ,Excellent general IT skills, able to learn any program fast, Problem solving, Task automation. </p>
</ion-content>
